In [1]:
import sqlite3
import uuid
from datetime import datetime

In [2]:
conn = sqlite3.connect("Supermarket.db")
try:
    # Disable synchronous
    conn.execute("PRAGMA synchronous = OFF")
    # Disable locking (simulate by using a non-exclusive transaction)
    conn.execute("BEGIN IMMEDIATE")

    # Enable read uncommitted
    conn.execute("PRAGMA read_uncommitted = true")
    # Perform your database operations within the transaction

    # Commit the transaction
    conn.commit()

finally:
    # Close the database connection
    conn.close()

In [7]:
#members_drop_sql="drop table members"
#transactions_drop_sql="drop table transactions"

In [2]:
try:
    cnx=sqlite3.connect("Supermarket.db")
    cursor=cnx.cursor()
    #cursor.execute("CREATE TABLE members (id integer, name text, email text, phone text, address text, credits real, deposit real, total_consumption amount real, premium membership status boolean, primary key (id))")
    #cursor.execute("CREATE TABLE transactions (customer_id integer, transaction_id integer, items_name text, items_quantity text, items_price text, items_value text, transaction_time text, order_review text, order_rate text, primary key(customer_id, transaction_id))")
    #cnx.commit()
    sql_query = """SELECT name FROM sqlite_master 
    WHERE type='table';"""
    cursor.execute(sql_query)
    print("List of tables\n")
    print(cursor.fetchall())
    #cursor.execute(members_drop_sql)
    #cursor.execute(transactions_drop_sql)
except sqlite3.Error as err:
    print(err)

List of tables

[('members',), ('transactions',)]

In [3]:
members_all_sql="select * from members "
transactions_all_sql="select  * from transactions"
members_insert_sql="insert into members values (?,?,?,?,?,?,?,?,? )"
transactions_insert_sql="insert into transactions values (?, ?, ?, ?, ?, ?, ?, ?, ?)"
transactions_delete_sql="delete from transactions where customer_id=?"

In [15]:
test_transaction_time=datetime.now()
#test_transaction_time_str=test_transaction_time.strftime("%Y-%m-%d")
test_transaction_time_str=test_transaction_time.strftime("%Y-%m-%d %H:%M:%S")
jade_id=datetime.now().minute+datetime.now().second+int(str(uuid.uuid4().int)[:4])
eden_id=datetime.now().minute+datetime.now().second+int(str(uuid.uuid4().int)[:4])
test_transaction_time_str

'2023-12-08 10:47:01'

In [55]:
#insert values into members
try:
    cnx=sqlite3.connect("Supermarket.db")
    cursor=cnx.cursor()
    #cursor.execute(members_insert_sql, (1, 'Jade Yu', '1234567@gmail.com', '123456789', 'Apt 201 ABC Lane Kelowna', 0, 0, 0, False))
    #cursor.execute(members_insert_sql, (2, 'Eden Chen', '987654321@gmail.com', '987654321', 'Apt 201 ABC Lane Kelowna', 50000, 0, 0, True))
    cursor.execute(transactions_insert_sql,(2, eden_id, 'bread,rice', '1,2', '1,2', '1,4', test_transaction_time_str, 'great quality','5'))
    #cursor.execute(transactions_delete_sql, (1, ))
    cnx.commit()
finally:
    cnx.close()

In [4]:
try:
    cnx=sqlite3.connect("Supermarket.db")
    cursor=cnx.cursor()
    cursor.execute(members_all_sql)
    #cursor.fetchall()
    for row in cursor:
        print(row)
    cursor.execute(transactions_all_sql)
    for row in cursor:
        print(row)
finally:
    cnx.close()

(1, 'Jade Yu', 'jadenewemail@gmail.com', '123456789', 'Apt 201 ABC Lane Kelowna', 0.14, 0.0, 14.0, 0)
(2, 'Eden Chen', '987654321@gmail.com', '987654321', 'Apt 201 ABC Lane Kelowna', 50000.0, 0.0, 0.0, 1)
(3, 'Ada', 'adaemail@gmail.com', '123678456', 'Somewhere in Van', 0.0, 0.0, 0.0, 0)
(4, 'Jane', 'janeschangedemail@g,ail.com', '12344321', 'Kelowna', 0.0, 90.0, 0.0, 0)
(1, 2193, 'banana,apple', '1,2', '1,2', '1,4', '2023-12-06', 'bought salad and chips, good', '4')
(1, 2378, 'banana,orange', '1,2', '1,2', '1,4', '2023-12-06', 'bought salad and chips, good', '4')
(2, 9884, 'lemon,orange', '1,2', '1,2', '1,4', '2023-12-06', 'great', '5')
(2, 1052, 'bread,rice', '1,2', '1,2', '1,4', '2023-12-06', 'great quality', '5')
(1, 2993, ',salad,chips', ',1,1', ',2,4', ',2.0,4.0', '2023-12-08 09:21:12.625656', 'bought salad and chips, good', '4')
(1, 2181, ',salad,chips', ',1,1', ',2,4', ',2.0,4.0', '2023-12-08 09:24:21.442359', 'bought salad and chips, good', '4')
(1, 2076, ',salad,chips', ',1,1', ',2,4', ',2.0,4.0', '2023-12-08 10:27:42.840788', 'bought salad and chips, good', '4')
(1, 3150, ',salad,chips', ',1,1', ',2,4', ',2.0,4.0', '2023-12-08 10:29:05.276377', 'bought salad and chips, good', '4')
(1, 4625, ',salad,chips', ',1,1', ',2,4', ',2.0,4.0', '2023-12-08 10:32:02.019392', 'bought salad and chips, good', '4')
(1, 9484, 'salad,chips,', '1,2,', '2,4,', '2.0,8.0,', '2023-12-08 10:37:20.123945', 'bought salad and chips, good', '4')
(1, 1475, 'salad,chips,', '1,3,', '2,4,', '2.0,12.0,', '2023-12-08 10:53:41', 'bought salad and chips again, great quality', '5')
(4, 2042, 'sauce,beef,pork,', '1,1,1,', '5,10,8,', '5.0,10.0,8.0,', '2023-12-09 21:52:48', 'bought sauce, beef and pork. Not bad.', '5')
(4, 1134, 'pasta,sushi,', '1,1,', '5,10,', '5.0,10.0,', '2023-12-09 23:30:24', 'pasta and coffee for Jane', '5')

In [25]:

a, b =('1','2')
a
result=("1", "2")
result[1]

'2'